extends layout

block content
  h1 #{title}
  h3 User stories:
  ul
    li I can submit a FormData object that includes a file upload.
    li When I submit something, I will receive the file size in bytes within the JSON response.

  h2 Submit
    form(id='form')
      input(type='file',name='file',id='fileAdd')
      input(type='submit',value='Submit File')
      
  script.
    $('#form').on('submit', function(e) {
      
      var fd = new FormData();
      fd.append( 'file', $('#fileAdd')[0].files[0] );

      $.ajax({
        url: 'https://fcc-file-metadata-nr.herokuapp.com/fileanalyse/',
        type: 'POST',
        data: fd,
        processData: false,
        contentType: false,
        error: function(err) {
          alert('ERROR: ' + err);
        },
        success: function(data) {
          alert('FILE SIZE: ' + data.size);
        }
      });
      
      e.preventDefault();
    });